<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function send_go(f) {
		f.submit();
	}
	function send_go2(f) {
		f.submit();
	}
</script>
</head>
<body>
    <!-- 여러 요구사항이 하나의 서블릿을 이동할때는 공통의 파라미터값을 주어서 
         파라미터값의해서 서블릿이 구분할 수 있도록 만든다. -->
	<form action="/01_servlet/Ex15" method="post">
		<input type="button" value="오늘 날짜 구하기" onclick="send_go(this.form)">
		<input type="hidden" name="cmd" value="1">
	</form>
	<hr>
	
	<form action="/01_servlet/Ex15" method="post">
		<input type="submit" value="운세 구하기">
		<input type="hidden" name="cmd" value="2">
	</form>
	<hr>
	
	<form action="/01_servlet/Ex15" method="post">
		<input type="button" value="오늘 날짜와 운세구하기" onclick="send_go2(this.form)">
		<input type="hidden" name="cmd" value="3">
	</form>
</body>
</html>